// .find-vendor-input {
//   .ant-input {
//     background: none !important;
//   }
// }

.m-inline-0 {
  margin: 0 !important;
}

.preview-tag.ant-tag.ant-tag-success {
  background-color: #0d3400 !important;
  color: #51f300 !important;
}

.header-responsiveness-items {
  .ant-space-item {
    height: 100% !important;
  }
}

.ant-modal-close {
  position: fixed !important;
  top: 15px !important; /* Adjust the top position as needed */
  right: 24px !important; /* Adjust the right position as needed */
  z-index: 1001 !important; /* Ensure the close button appears above other content */
  height: 30px !important;
  width: 30px !important;

  &:hover {
    background-color: transparent !important;
  }

  .ant-modal-close-x {
    color: #ffffff !important;
    font-size: 22px !important;
    font-weight: bolder !important;
  }
}

.sider-menu .ant-menu-item {
  margin-bottom: 8px !important;
}

.ant-menu-item {
  i {
    transition: all 0.1s ease !important;
    font-weight: 200 !important;
  }

  // &:hover i {
  //   transform: scale(1.1) !important;
  // }
}

.right-panel-tabs {
  .ant-tabs-tab {
    color: #d9d9d9;

    &:hover {
      color: #ffffff !important;
    }

    .ant-tabs-tab-btn {
      &:active {
        color: #ffffff !important;
      }
    }
  }
  .ant-tabs-tab-active {
    .ant-tabs-tab-btn {
      color: #ffffff !important;
    }
    font-weight: bold !important;
  }

  .ant-tabs-ink-bar,
  .ant-tabs-ink-bar-animated {
    background-color: #ffffff !important;
  }
}

.ant-menu-item-active i {
  font-weight: 500 !important;
  // transform: scale(1.5) !important;
  color: #ffffff !important;
}

.ant-menu-item-selected {
  font-weight: 100 !important;
  background: transparent !important;
}

.dash-sider {
  transition: all 0.4s ease !important;

  .ant-select-selector {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
  }

  .ant-select-selector,
  .ant-select-in-form-item,
  .ant-select-selection-item {
    height: 2.3rem !important;
    overflow: hidden;
    display: flex;
    align-items: center !important;
  }

  // .ant-menu-item:last-child {
  //   position: absolute;
  //   bottom: 50px;
  // }

  .ant-menu-light.ant-menu-root.ant-menu-inline {
    border-inline-end: none !important;
  }
}

.light {
  .ant-layout-sider,
  .ant-menu-light {
    background: #292929;
    transition:
      all 0.1s,
      background 0s;
    color: #cecece !important;
  }

  .ant-menu-item-selected {
    color: #ffffff !important;
    background: #353535 !important;
  }

  .react-code-input {
    margin: 32px -20px 32px 0;
    text-align: center;

    input {
      margin-right: 20px !important;
      width: 60px !important;
      height: 60px !important;
      border-radius: 8px;
      outline: none !important;
      caret-color: var(--accent) !important;
      color: var(--accent) !important;
      text-align: center;
      font-weight: bold;
      background-color: #ffffff;
      background-image: none;
      border-width: 1px;
      border-style: solid;
      border-color: #d9d9d9;
      transition: all 0.2s;
    }

    input:focus,
    input:hover {
      border-color: #1668dc !important;
      // box-shadow: 0 0 0 2px rgba(0, 60, 180, 0.15) !important;
      outline: 0 !important;
    }
  }
}

.dark {
  .ant-layout-sider,
  .ant-menu-light {
    background: hsl(var(--background)) !important;
    transition:
      all 0.2s,
      background 0s;
  }

  .ant-menu-item-active,
  .ant-menu-item-selected {
    background-color: rgba(39, 39, 42, 1) !important;
    -tw-text-opacity: 1 !important;
    color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
    transition:
      all 0.2s,
      background 0s;
  }
}
